## 2. Estructuras básicas de de datos
En python existen 3 estructuras básicas de datos: listas, tuplas, diccionarios

### Listas
Las listas son la estructura de datos mas usada (array, vector): los elementos se separan por coma, podemos alojar diferentes tipos de elementos, son **mutables**

In [ ]:
num = [] #decalarar lista
num = [1,2,3,4,5,6,7,8,9,10]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num = list(range(1,21,2)) #start, stop, step
print(num)
print(type(num))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
<class 'list'>

In [ ]:
# indexing
num[4] = 12
print(lis_2 )

[1, 3, 5, 7, 12, 11, 13, 15, 17, 19]

In [ ]:
lis_2 [:5] #del inicio hasta el indice 5
lis_2 [:] # del inicio hasta el fin
lis_2 [::2] # start, stop, step

[1, 5, 9, 13, 17]

In [ ]:
lis_2 [:3] = [2,6,8]
print(lis_2 )

[2, 6, 8, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# Métodos en las listas
# CRUD: create, read, update and delete (Consultas SQL)

#Update

lis_2 .append(21) #Agrega un nuevo elemento al final
print(num)

[2, 6, 8, 7, 9, 11, 13, 15, 17, 19, 21]

In [ ]:
num.insert(0,'Hola') #inserta la palabra en la indexación dada
num

['Hola', 2, 6, 8, 7, 9, 11, 13, 15, 17, 19, 21]

In [ ]:
num.index(2) #en qué posición está el argumento

1

In [ ]:
num.pop(0) #Elimina la posición que le damos

19

In [ ]:
print(num)
num.pop() # Elimina el último
print(num)

[2, 6, 8, 7, 9, 11, 13, 15, 17, 19, 21]
[2, 6, 8, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
num.sort() #Ordena de manera ascendente
print(num)

[2, 6, 7, 8, 9, 11, 13, 15, 17, 19]

In [ ]:
num.reverse() #Ordena descendentemente
print(num)

[19, 17, 15, 13, 11, 9, 8, 7, 6, 2]

In [ ]:
#Create
# Creen una lista que de numeros impares desde 1 hasta 20
# Lo ordenen de manera descendente
# Remplacen el número 3 por 300 y el 11 por 111

lis_2 = list(range(1,21,2))
print('generamos lista: ', lis_2 )
lis_2 .reverse()
print('Cambiamos orden:', )
lis_2 [9] = 300
lis_2 [5] = 111
print('Remplazamos datos: ', lis_2 )

generamos lista:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Cambiamos orden:
Remplazamos datos:  [19, 17, 15, 13, 11, 111, 7, 5, 3, 300]

In [ ]:
lis_2 + num #Fusionar listas

[19, 17, 15, 13, 11, 111, 7, 5, 3, 300, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
##########################
##### Diccionarios #######
# Indexación

dic = {}
print(type(dic))

<class 'dict'>

In [ ]:
dic = {
    'Columna 1': list(range(1,11)),
    'Columna 2': list(range(10,21)),
    'Columna 3': list(range(20,31))
}

In [ ]:
print(dic)

{'Columna 1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Columna 2': [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'Columna 3': [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}

In [ ]:
print(dic['Columna 1'])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Dictionary example

dic_1 = {'One': 1,
         'Two': 2,
         'Three': 3,
         'Four': 4
         }

print(dic_1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}

In [ ]:
# Dictionary indexing (key)

print(dic_1['One'])
print(dic_1['Three'])

1
3

In [ ]:
#combination of dictionaries and lists

comb_1 = {
    'nombres': ['Juan', 'Pedro', 'Maria'],
    'edades': [20, 10, 15]
}
print(comb_1)
print(comb_1['nombres'])
print(comb_1['nombres'][1])
print(comb_1['edades'][1])

{'nombres': ['Juan', 'Pedro', 'Maria'], 'edades': [20, 10, 15]}
['Juan', 'Pedro', 'Maria']
Pedro
10

In [ ]:
# dictionary lists

mi_otra_com = [
    {
        'nombre': 'Juan',
        'edad': 20
    },
    {
        'nombre': 'Pedro',
        'edad': 20
    },
    {
        'nombre': 'Maria',
        'edad': 15
    },
]

print(mi_otra_com)
print(mi_otra_com[1]['nombre'])
print(mi_otra_com[1]['edad'])

[{'nombre': 'Juan', 'edad': 20}, {'nombre': 'Pedro', 'edad': 20}, {'nombre': 'Maria', 'edad': 15}]
Pedro
20

## Para casa

1. Crear una lista que contenga los números impares del 1 al 100
2. Crear un diccionario que tenga tres listas que vayan de: 0 al 9, 10 al 19 y 20 a 29.
3. Cree una lista que contenga 3 listas de 3 registros cada una. Imprima el segundo valor del tercer registro.
4. Crre un diccionario con 3 diccionarios donde cada diccionario registre tres valores cualesquiera (ejm. nombre, sexo, edad)