In [3]:
import numpy as np
import pandas as pd
pd.__version__

'2.2.1'

In [4]:
# 4. Create a DataFrame df from this dictionary data which has the index labels.
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

In [29]:
# 5. Display a summary of the basic information about this DataFrame and its data (hint: there is a single method that can be called on the DataFrame).
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

In [12]:
# 6. Return the first 3 rows of the DataFrame df.
df[:3] == df.iloc[:3,]

   animal   age  visits  priority
a    True  True    True      True
b    True  True    True      True
c    True  True    True      True

In [21]:
# 7. Select just the 'animal' and 'age' columns from the DataFrame df.

df[['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [28]:
# 8. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

df.loc[df.index[[3,4,8]], ['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [33]:
# 9. Select only the rows where the number of visits is greater than 3.

df[df.visits > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [36]:
# 10. Select the rows where the age is missing, i.e. it is NaN.

df[df.age.isna()]
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [45]:
# 11. Select the rows where the animal is a cat and the age is less than 3.

df[(df.animal == 'cat') & (df.age < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [46]:
# 12. Select the rows the age is between 2 and 4 (inclusive).

df[(df.age >=2) & (df.age <=4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no